@font-face {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/calibri.woff2") format("woff2"),
    url("../fonts/calibri.woff") format("woff"),
    url("../fonts/calibri.ttf") format("truetype");
}

@font-face {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/calibri_bold.woff2") format("woff2"),
    url("../fonts/calibri_bold.woff") format("woff"),
    url("../fonts/calibri_bold.ttf") format("truetype");
}

.header {
  max-width: 1920px;
  padding-left: 77px;
  padding-right: 79px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  background: #fff;
  margin: 0 auto;
}

.header__block {
  box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.09);
}

.header_type_burger {
  box-shadow: none;
}

.header__logo {
  width: 91px;
  height: 84px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__info {
  color: #6b7073;
  font-family: "Calibri";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  max-width: 115px;
  margin: 0;
  padding-right: 6px;
  padding-bottom: 17px;
  text-decoration: none;
}

.header__info:nth-child(2) {
  padding-right: 86px;
  padding-bottom: 0;
}

.header__info:nth-child(3) {
  padding-right: 93px;
  padding-bottom: 0;
}

.header__info:nth-child(4) {
  padding-right: 97px;
  padding-bottom: 0;
}

.search__input {
  width: 268px;
  padding: 12px 14px;
  border-radius: 88px;
  background: #fff;
  box-shadow: 2px 4px 11px 0px rgba(0, 0, 0, 0.17);
  color: #c4c4c4;
  font-family: "Calibri";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  box-sizing: border-box;
  border: none;
}

.search__button {
  width: 20px;
  height: 21px;
  position: absolute;
  z-index: 2;
  background: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
  top: 9px;
  right: 15px;
}

.search_type_mini {
  display: none;
}

.search {
  position: relative;
  margin-right: 117px;
}

.search_type_burger {
  margin-right: 125px;
}

.header__image-menu {
  width: 33px;
  height: 24px;
  background: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.header__image-close {
  width: 25px;
  height: 25px;
  background: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.icons_type_mini {
  display: none;
}

.breadcrumb {
  padding: 0;
  list-style: none;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}

.breadcrumb li + li:before {
  padding: 6px 8px;
  padding-left: 4px;
  content: url("/images/arrow.svg");
}

.breadcrumb li {
  display: inline;
  font-size: 14px;
  cursor: pointer;
}

.breadcrumb__link {
  color: #c4c4c4;
  font-family: "Calibri";
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.active {
  color: #6b7073;
}

.main {
  max-width: 1920px;
  padding-left: 79px;
  padding-right: 81px;
  padding-bottom: 91px;
  padding-top: 29px;
  margin: 0 auto;
  box-sizing: border-box;
}

.rent {
  display: flex;
  flex-direction: row;
}

.rent__image {
  width: 1164px;
  height: 637px;
  margin-right: 30px;
}

.title {
  color: #151516;
  font-family: "Calibri";
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.rent__paragraph {
  padding-top: 24px;
  color: #000;
  font-family: "Calibri";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-bottom: 35px;
}

.rent__container {
  max-width: 567px;
}

.rent__save {
  color: #151516;
  font-family: "Calibri";
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-right: 10px;
}

.rent__icon-save {
  width: 32px;
  height: 32px;
}

.rent__save-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 65px;
}

.rent__subtitle {
  color: #151516;
  font-family: "Calibri";
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding-bottom: 34px;
}

.list__item {
  color: #151516;
  font-family: "Calibri";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 9px;
  margin: 0;
}

.list__item::marker {
  color: #cd3b31;
  font-size: 20px;
}

.list__item:last-of-type {
  padding-bottom: 0;
}

.list {
  margin: 0;
  padding-inline-start: 15px;
  margin-bottom: 50px;
}

.shops__image {
  width: 306px;
  height: 153px;
  margin-right: 46px;
}

.shops__image:last-child {
  margin-right: 30px;
}

.shops {
  margin-top: 80px;
}

.shops__container {
  margin-top: 24px;
  display: flex;
  position: relative;
}

.shops__slider {
  width: 156px;
  height: 9px;
  position: absolute;
  top: 183px;
  left: 428px;
}

.info {
  display: flex;
  margin-top: 80px;
}

.info__container {
  display: flex;
  flex-direction: column;
  max-width: 189px;
  margin-right: 105px;
}

.info__title {
  color: #6b7073;
  font-family: "Calibri";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding-bottom: 17px;
}

.info__subtitle {
  color: #151516;
  font-family: "Calibri";
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding-bottom: 39px;
}

.info__subtitle:last-child {
  padding-bottom: 0;
}

.info__image-first {
  width: 567px;
  height: 508px;
  margin-right: 30px;
}

.info__image-second {
  width: 862px;
  height: 508px;
}

.image {
  margin-top: 60px;
  margin-bottom: 91px;
  display: flex;
}

.image__photo {
  width: 417px;
  height: 359px;
  margin-right: 30px;
}

.image__photo:nth-child(2) {
  width: 566px;
  height: 359px;
}

.image__photo:nth-child(3) {
  width: 716px;
  height: 359px;
  margin-right: 0;
}

.footer {
  padding: 41px 80px;
  background: #fff;
  max-width: 1920px;
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
}

.footer__block {
  box-shadow: 0px 1px 44px 0px rgba(0, 0, 0, 0.12);
}

.footer__logo {
  width: 170px;
  height: 147px;
  margin-right: 128px;
}

.footer__item {
  color: #151516;
  font-family: "Calibri";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-bottom: 32px;
}

.footer__item_type_mini {
  display: none;
}

.footer__item:last-child {
  padding-bottom: 0;
}

.footer__container-info {
  margin-right: 130px;
}

.footer__container-info:nth-child(2) {
  margin-right: 112px;
}

.footer__container-info:nth-child(3) {
  margin-right: 108px;
}

.icon {
  margin-right: 22px;
  margin-top: 54px;
  width: 37px;
  height: 37px;
  cursor: pointer;
}

.footer__text {
  color: #151516;
  font-family: "Calibri";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-bottom: 21px;
}

.footer__text:last-child {
  padding-bottom: 0;
}

.nav {
  padding-inline-start: 0;
  padding-left: 82px;
  padding-right: 67px;
  padding-top: 31px;
  padding-bottom: 31px;
  border-right: 1px solid #c4c4c4;
  position: fixed;
  left: 0;
  top: 100px;
  margin: 0;
  margin-bottom: 41px;
}

.nav__link {
  color: #151516;
  font-family: "Calibri";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 48px;
  list-style-type: none;
}

.nav__link:last-child {
  padding-bottom: 0;
}

.main-burger {
  display: flex;
  max-width: 1920px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 378px;
  padding-right: 212px;
  padding-top: 19px;
  padding-bottom: 120px;
}

.main-burger__title {
  color: #151516;
  font-family: "Calibri";
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding-bottom: 34px;
}

.main-burger__container {
  max-width: 242px;
  margin-right: 182px;
}

.main-burger__container:nth-child(2) {
  margin-right: 105px;
  margin-top: 64px;
}

.main-burger__container:nth-child(3) {
  margin-right: 51px;
}


.main-burger__container:nth-child(4) {
  margin-right: 121px;
}

.main-burger__container:last-child {
  margin-right: 0;
}

.main-burger__subtitle {
  color: #151516;
  font-family: "Calibri";
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 40px;
}

.main-burger__subtitle:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1919px) {
  .image__photo {
    width: 300px;
    height: 359px;
    margin-right: 30px;
  }
  
  .image__photo:nth-child(2) {
    width: 466px;
    height: 359px;
  }
  
  .image__photo:nth-child(3) {
    width: 516px;
    height: 359px;
    margin-right: 0;
  }

  .image {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1880px) {
  .footer__container-info {
    margin-right: 50px;
  }
  
  .footer__container-info:nth-child(2) {
    margin-right: 50px;
  }
  
  .footer__container-info:nth-child(3) {
    margin-right: 60px;
  }
  .footer__container-info_type_mini {
    display: none;
  }

  .search_type_medium {
    margin-right: 50px;
  }
  .footer__logo {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1770px) {
  .info__image-first {
    width: 450px;
    height: 408px;
  }

  .info__image-second {
    width: 562px;
    height: 408px;
  }

  .footer__logo {
    width: 173px;
    height: 161px;
  }
}

@media screen and (max-width: 1650px) {
  .main-burger__container {
    margin-right: 100px;
  }

  .main-burger__container:nth-child(2) {
    margin-right: 70px;
  }

  .main-burger__container:nth-child(4) {
    margin-right: 70px;
  }

  .rent__image {
    width: 800px;
    height: 350px;
  }
}

@media screen and (max-width: 1550px) {

  .image__photo {
    width: 550px;
    height: 508px;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .info__image-first {
    width: 550px;
    height: 508px;
  }

  .info__image-second {
    width: 550px;
    height: 508px;
  }
  
  .image__photo:nth-child(2) {
    width: 550px;
    height: 508px;
  }
  
  .image__photo:nth-child(3) {
    width: 550px;
    height: 508px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .image {
   display: flex;
   flex-direction: column;
   align-items: center;
  }
}

@media screen and (max-width: 1450px) {
  .info__image-first {
   margin-top: 30px;
   margin-bottom: 30px;
   margin-right: 0;
  }

  /* .info__image-second {
    width: 450px;
    height: 408px;
  }  */

  .info {
    flex-direction: column;
    align-items: center;
  }

  .info__container {
    margin-right: 0;
  }

  .shops__image {
    width: 250px;
    height: 130px;
  } 
}

@media screen and (max-width: 1310px) {


   .footer__container-info {
    display: none;
  }

  .footer__container-info_type_mini {
    display: block;
  }

   .footer__item_type_mini {
    display: block;
  }

  .icons_type_mini {
    display: block;
  }

  .nav {
    padding-left: 62px;
    padding-right: 47px;
    top: 207px;
  }

  .nav__link {
    font-size: 16px;
  }

  .main-burger {
    padding-left: 300px;
    padding-right: 71px;
    padding-bottom: 40px;
  }

  .main-burger__title {
    font-size: 18px;
  }

  .main-burger__container {
    margin-right: 50px;
  }

  .main-burger__container:nth-child(2) {
    margin-right: 40px;
  }

  .main-burger__container:nth-child(4) {
    margin-right: 40px;
  }

  .main-burger__subtitle {
    font-size: 14px;
  }

  .header__logo {
    width: 69px;
    height: 64px;
  }

  .header__info {
    display: none;
  }

  .header__info:nth-child(2) {
    display: block;
    padding-right: 37px;
    padding-bottom: 0;
  }

  .search {
    display: none;
  }

  .search_type_mini {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 50px;
    margin-top: 27px;
  }

  .search__input {
    width: 100%;
    padding: 12px 14px;
  }
  
  .header {
    padding-left: 62px;
    padding-right: 71px;
    padding-top: 13px;
    padding-bottom: 13px;
    justify-content: space-between;
    position: relative;
  }

  .main {
    padding-left: 62px;
    padding-right: 71px;
  }

  .footer__container-info_type_mini {
    margin-right: 40px;
    margin-left: 40px;
  }

  .footer {
    align-items: center
  }

  .icon_type_mini {
    margin: 0;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    flex-direction: column;
    padding-left: 62px;
    padding-right: 71px;
    padding-top: 21px;
    padding-bottom: 23px;
  }

  .footer__logo {
    margin-right: 0;
  }

  .search_type_first {
    margin-top: 22px;
    margin-bottom: 24px;
    min-width: 335px;
  }

  .footer__container-info_type_mini {
    margin: 0 auto;
    text-align: center;
  }
  .footer__contacts {
    margin: 0 auto;
    text-align: center;
  }

  .search_type_first {
    margin-bottom: 24px;
  }
  
  .footer__item_type_mini {
    padding-bottom: 24px;
  }
  
  .footer__item_type_mini:last-child {
    padding-bottom: 24px;
  }
  
  .footer__text {
   max-width: 187px;
  }
  
  .footer__text:last-child {
    font-size: 24px;
    font-weight: 700;
  }
  
  .icon_type_mini {
    width: 47px;
    height: 47px;
    margin: 0;
    margin-top: 24px;
    margin-right: 30px;
  }
  .icon_type_second {
    margin-right: 0;
  }
}

@media screen and (max-width: 1150px) {
  .main-burger {
    padding-left: 200px;
    padding-bottom: 40px;
  }

  .search_type_mini {
    max-width: 700px;
  }

  .rent {
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    align-items: center;
  }

  .rent__image {
   width: 700px;
   margin-right: 0;
   margin-bottom: 30px;
  }

  .shops {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 55px;
  }

  .shops__container {
    flex-direction: column;
    align-items: center;
  }

  .shops__image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .shops__image:nth-child(3) {
    margin-bottom: 30px;
  }

  .shops__slider {
    position: static;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 980px) {
  .main-burger__subtitle {
    display: none;
  }

  .main-burger {
   flex-direction: column;
   justify-content: center;
   width: 190px;
   padding: 0;
   align-items: center;
  }

  .main-burger__container {
    margin-right: 0;
  }

  .main-burger__container:nth-child(2) {
    margin-right: 0;
    margin-top: 0;
  }
  
  .main-burger__container:nth-child(3) {
    margin-right: 0;
  }
  
  
  .main-burger__container:nth-child(4) {
    margin-right: 0;
  }
  
  .main-burger__container:last-child {
    margin-right: 0;
  }

  .main-burger__title {
    font-size: 24px;
    padding-bottom: 48px;
  }

  .search_type_mini {
    margin-bottom: 94px;
  }
  .search_type_first {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 890px) {
  .search_type_mini {
    max-width: 500px;
  }

    
  .image__photo {
    width: 450px;
    height: 408px;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .info__image-first {
    width: 450px;
    height: 408px;
  }

  .info__image-second {
    width: 450px;
    height: 408px;
  }
  
  .image__photo:nth-child(2) {
    width: 450px;
    height: 408px;
  }
  
  .image__photo:nth-child(3) {
    width: 450px;
    height: 408px;
  }
}

@media screen and (max-width: 768px) {
 .rent__image {
    width: 450px;
    height: 250px;
 }

 .info__block {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .title {
  font-size: 35px;
 }

 .rent__paragraph {
  font-size: 18px;
 }

 .rent__container {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .rent__save {
  font-size: 18px;
 }

 .rent__subtitle {
  font-size: 20px;
 }
}

@media screen and (max-width: 630px) {
  .info__image-first {
    width: 280px;
    height: 200px;
  }

  .info__image-second {
    width: 280px;
    height: 200px;
  }
.search_type_first {
  min-width: 280px;
}
}

@media screen and (max-width: 600px) {
  .search_type_mini {
    max-width: 340px;
  }

  .image__photo {
    width: 280px;
    height: 200px;
  }
  
  .image__photo:nth-child(2) {
    width: 280px;
    height: 200px;
  }
  
  .image__photo:nth-child(3) {
    width: 280px;
    height: 200px;
    margin-right: 0;
    margin-bottom: 0;
  }

   .nav {
    padding-inline-start: 0;
    padding: 0;
    border-right: none;
    position: static;
    padding-bottom: 149px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav__link {
    font-size: 20px;
  }
}

@media screen and (max-width: 550px) {

  .header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .rent__image {
    width: 300px;
    height: 150px;
  }

  .title {
    font-size: 28px;
  }

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  }

  @media screen and (max-width: 400px) {
    .search_type_mini {
      max-width: 280px;
    }
    }


  @media screen and (max-width: 340px) {
    .rent__image {
      width: 250px;
      height: 130px;
    }
    }
